body {
    background-color: #FFFAF0;
}

p {
    padding-left: 50px;
    padding-right: 50px;
}

img {
    width: 200px;
    float: left;
    padding: 15px;
    margin: 15px;
}

.section-1 {
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 8%;
    margin-bottom: 20px;
}

.section-2 {
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 8%;
    margin-bottom: 20px;
}

.section-3 {
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 8%;
}

.content-1 content-2 content-3 {
    float: right;
}

.body-1 {
    max-width: 500px;
    margin: auto;
    padding: 100px;
}

.nav {
    position: fixed;
    border: 1px solid black;
    width: 99%;
    margin: auto;
    background-color: transparent;
}
